* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #08040c;
    font-family: 'Karla', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    height : 100px;
    background-color: #181c24;
    color: #fff;
    box-shadow: 0px 0px 10px #6E56B9;
    display: flex;
    align-items: center;
    position: absolute;
}

.nom {
    width: 40%;
    /*border: 1px solid white;*/
    text-align: center;
    font-size: xx-large;
}

.navmenu {
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    list-style-type:none;
    padding-right: 10%;
    align-items: center;
    /*border: 1px solid white;*/
}

.navmenu li {
    transition: color 0.2s;
}

.navmenu li:hover {
    color: #6E56B9;
}

.Profil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 950px;
    padding-top: 70px;
}

.carte-info {
    width: 90%;
    max-width: 30%;
    text-align: center;
    border: 1px solid #6E56B9;
    border-radius: 10px;
    padding: 50px 30px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 4px 30px rgba(82, 13, 122, 0.3);
    backdrop-filter: blur(5px);
}

.carte-info #Photo {
    width: 60%;
    border-radius: 50%;
    border: 1px solid #6E56B9;
}

.carte-info h1 {
    font-size: 45px;
    font-weight: 600px;
    margin-top: 20px;
}

.carte-info p {
    font-size: 20px;
    margin: 10px auto;
}

.réseaux img{
    width: 50px;
    margin: 5px 10px 25px;
    transition: all 0.2s;
    border-radius: 60%;
}

.réseaux img:hover {
    transform: scale(1.2);
    background-color: #fff;
    border: 1px solid #fff;
}

#CV {
    background-color: #6E56B9;
    color: #08040c;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 1000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 4px 30px rgba(82, 13, 122, 0.3);
}

#CV:hover {
    color: #fff;
    font-size: 35px;
    border: 1px solid #fff;
}

.barre {
    background-color: #181c24;
    color: #181c24;
    font-size: 2px;
    margin: 0 100px 70px;
}

.MesProjets {
    text-align: center;
}

.projets {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 5%;
    justify-content: center;
}

.projet {
    width: 35%;
    margin: 30px 0;
    border: 1px solid #6E56B9;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 4px 30px rgba(82, 13, 122, 0.3);
    backdrop-filter: blur(5px);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}

.projet h3 {
    padding-top: 10px;
}

.projet img{
    width: 90%;
    margin: 0 auto;
}

.savoirplus {
    transition: all 0.2s;
}

.savoirplus:hover {
    color: #6E56B9;
}

#regledujeu {
    text-decoration: underline;
    transition: color 0.2s;
}

#regledujeu:hover {
    color: #6E56B9;
}

footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

footer h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.champcontact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 50%;
    margin: 5px 0;
}

.champcontact img {
    width: 5%;
}

.champcontact a {
    transition: color 0.2s;
}

.champcontact a:hover {
    color:#6E56B9;
}

#remonter {
    position: fixed;
    right: -100px;
    bottom: 10%;
    width: 50px;
    height: 50px;
    background: #6E56B9;
    border: 1px solid #6E56B9;
    color: #08040c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(82, 13, 122, 0.3);
    cursor: pointer;
    transition: right 0.5s, transform 0.2s;
}

#remonter:hover {
    transform: scale(1.2);
    color: #fff;
    border-color:#fff;
}

@media screen and (max-width:1200px){
    .carte-info {
        max-width: 50%;
    }
}

@media screen and (max-width:900px){
    .projet{
        width: 75%;
    }
}

@media screen and (max-width:650px){
    .Profil h1 {
        font-size: 30px;
    }

    #CV{
        font-size: 25px; 
    }

    #CV:hover {
        font-size: 30px;
    }
}